<html>
  <body>
    <h1>WebSocket Clients</h1>
    <div id="status">Disconnected</div>
    <div id="count">Clients: 0</div>
    <div id="position1">Position 1: 0</div>
    <div id="position2">Position 2: 0</div>
    <button id="connect">Connect</button>
    <button id="disconnect" disabled>Disconnect</button>

    <script>
import { PositionGizmo } from "@babylonjs/core";

      let ws = null;

      const status = document.getElementById("status");
      const count = document.getElementById("count");
      const position1 = document.getElementById("position1");
      const position2 = document.getElementById("position2");
      const connectBtn = document.getElementById("connect");
      const disconnectBtn = document.getElementById("disconnect");

      connectBtn.onclick = () => {
        // Use ws:// for WebSocket connections
        ws = new WebSocket("ws://localhost:3001/ws");

        ws.onopen = () => {
          status.textContent = "Connected";
          connectBtn.disabled = true;
          disconnectBtn.disabled = false;
        };

        ws.onmessage = (e) => {
          console.log("Received message:", e.data);
          const data = JSON.parse(e.data);

          if (data.type === "count")
            count.textContent = "Clients: " + data.clients;

          if (data.type === "positions") {
              const ids = Object.keys(data.positions);
              position2.textContent = "Position 2: " + (data.positions[ids[1]] ?? 0);
              position1.textContent = "Position 1: " + (data.positions[ids[0]] ?? 0);
          }
        };

        ws.onclose = () => {
          status.textContent = "Disconnected";
          connectBtn.disabled = false;
          disconnectBtn.disabled = true;
        };
      };

      disconnectBtn.onclick = () => {
        ws.close();
      };

      window.addEventListener("keydown", (e) => {
        if (!ws || ws.readyState !== WebSocket.OPEN) return;

        if (e.key === "w") {
          ws.send(JSON.stringify({ type: "move", direction: "up" }));
        }
        if (e.key === "s") {
          ws.send(JSON.stringify({ type: "move", direction: "down" }));
        }
      })
    </script>
  </body>
</html>
