@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

input[type="password"] {
  letter-spacing: 0.2em;
}
input[type="password"]::placeholder {
  letter-spacing: normal;
}

.fresh-gradient {
  background-color: rgb(200, 2, 100);
  background-image: linear-gradient(
    to right bottom,
    rgb(256, 234, 254),
    rgb(120, 127, 108),
    rgb(2, 2, 1)
  );
}

.fresh-gradient2 {
  background-color: rgb(2, 200, 100);
  background-image: linear-gradient(
    to right bottom,
    rgb(200, 234, 254),
    rgb(20, 127, 108),
    rgb(0, 2, 1)
  );
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
