---
import Base from "@/src/layouts/Base.astro";
import { PublicUserInfo } from "@/islands/PublicInfo.tsx";

const { username } = Astro.params;
const currentUser = Astro.locals.user;
const isOwnProfile = currentUser?.username === username;
const isLoggedIn = !!currentUser;
---

<Base title={`${username}'s Profile`} active="/profile">
  <div class="flex items-center justify-center min-h-screen bg-gray-900 p-4">
    <PublicUserInfo client:load username={username ?? ""} isOwnProfile={isOwnProfile} isLoggedIn={isLoggedIn} />
  </div>
</Base>
