---
import Base from "@/src/layouts/Base.astro";
import { Login as LoginComp } from "@/islands/Login.tsx";
---

<Base title="Login" active="/login" class="vt323-regular flex flex-col items-center justify-center min-h-screen bg-gray-900">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center text-black">Hit Me With Your Best Shot!</h2>
    <LoginComp client:load />
  </div>
</Base>
