---
import ThemeToggle from "@/islands/ThemeToggle.tsx";
import { NavAvatar } from "@/islands/NavAvatar.tsx";
import NavBar from "@/components/NavBar.tsx";
import { UserCircle, PingLogo, WebLogo } from "@/components/Icons.tsx";

interface Props {
  active: string;
  user?: { username: string } | null;
}

const { active, user } = Astro.props;
const isHome = active === "/";
---

<header>
  <div class="navbar bg-base-100 shadow-sm">
    {!isHome && (
      <div class="flex-1 menu menu-horizontal">
        <PingLogo />
        <WebLogo />
      </div>
    )}
    <nav class="flex items-center gap-2 flex-none">
      <ThemeToggle client:load />
      <NavBar active={active} user={user}>
        {user ? (
          <NavAvatar username={user.username} client:load />
        ) : (
          <div class="icon w-6 h-6">
            <UserCircle />
          </div>
        )}
      </NavBar>
    </nav>
  </div>
</header>
